.app__hamburger {
    position: fixed;
    padding: 1.4rem 1.4rem;
    background-color: rgba(0, 0, 0, 0.7);
    right: -100px;
    z-index: 1001;
    transition: all 0.3s ease;

    cursor: pointer;
}

.app__hamburger-content {
    width: 23px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.app__hamburger span {
    width: 100%;
    height: 2px;
    background-color: white;
    transform-origin: left;
    transition: all 2s ease;
}

.ham__active {
    right: 0;
}