.RegisterCredit__Content{
    margin: 0 auto;
}

.RegisterCredit__wrap{
    position: relative;
    top: -3em;
    background-color: #fff;
    padding: 2rem 2rem;
    width: 82.91667%;
    margin: 0 auto;
    font-family: "Crimson Pro", sans-serif;
}

.RegisterCredit__nav-place, .RegisterCredit__current-place{
    font-weight: 600;
    font-size: 1em;
}
.RegisterCredit__nav-place a{
    display: inline-block;
    text-decoration: none;
    color: #555;
}
.RegisterCredit__nav-place a:hover{
    text-decoration: underline;
}

.RegisterCredit__Name{
    padding: 2rem 0;
    font-weight: 700;
    font-size: 2.5rem;
}

.no__credits{
    width: 100%;
    height: 4rem;
    background: rgba(255, 187, 187, 0.78);
    border: 1px solid #FF3434;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.no__credits p {
    padding: 0 2rem;
}

/*Tablet & mobile*/
@media (min-width: 63.9375em) and (max-width: 80em) {
    
}


/*Tablet*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
    
}
/*Mobile*/
@media (max-width: 46.1875em) {

    .RegisterCredit__Name{
        padding: 1rem 0;
        font-weight: 700;
        font-size: 2rem;
    }

    .no__credits{
        height: 3rem;
    }

    .no__credits p {
        font-size: 0.6rem;
        padding: 0 1rem;
    }
}


