.Inform__Content{
    margin: 0 auto;
}

.Inform__wrap{
    position: relative;
    top: -3em;
    background-color: #fff;
    padding: 2rem 2rem;
    width: 82.91667%;
    margin: 0 auto;
    font-family: "Crimson Pro", sans-serif;
}

.Inform__nav-place, .Inform__current-place{
    font-weight: 600;
    font-size: 1em;
}
.Inform__nav-place a{
    display: inline-block;
    text-decoration: none;
    color: #555;
}
.Inform__nav-place a:hover{
    text-decoration: underline;
}

.Inform__Name{
    padding: 2rem 0;
    font-weight: 700;
    font-size: 2.5rem;
}


